body {
    background-color: black;
    background: url(../images/pic1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-inner {
    background-color:transparent;
}

.nav.navbar-nav.navbar-right li a{
    color: white;
}

.nav.navbar-nav li a{
	color: white;
}
.row{
	background-color: rgba(245, 245, 245, 0.4);
}

.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  font-size: 3em;
  color: #8B4513;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.btn{
    border:1px solid #D2691E; 
	background-color: transparent;
}

h2{
	color: #330000;
}

